body {
    margin: 10px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    background-color: #EEE;
}

body, input, button {
    font-size: 18px;
}

.hidden {
    visibility: hidden;
}

.undisplayed {
    display: none;
}

#crawlStatusLabel {
    padding: 3px;
    border-radius: 3px;
}

.error {
    background-color: red;
    color: white;
}

.running {
    background-color: yellow;
}

.ok {
    background-color: green;
    color: white;
}

#crawlResult {
    padding: 10px;
    border: 1px solid;
    margin-top: 10px;
}
