body {
    margin: 10px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    background-color: #EEE;
}

body, input, button {
    font-size: 18px;
}

.hidden {
    visibility: hidden;
}

.undisplayed {
    display: none;
}

#crawlStatusLabel {
    padding: 3px;
    border-radius: 3px;
}

.error {
    background-color: red;
    color: white;
}

.running {
    background-color: yellow;
}

.ok {
    background-color: green;
    color: white;
}

#crawlResult {
    padding: 10px;
    border: 1px solid;
    margin-top: 10px;
}

#setupBookmarklet {
    clear: both;
    margin: .75em 0;
    overflow: auto;
    padding: 0;
    width: auto;
}

#setupBookmarklet a {
    cursor: move;
    display: block;
    float: left;
    height: 54px;
    margin: 1em 1.3em 0.6em 1em;
    width: 163px;
    border: 1px solid gray;
    text-align: center;
    background-color: #0ca43a;
    border-radius: 5px;
    padding-top: 20px;
}
